.navbar { 
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

.navbar-section {
    display: flex;
    align-items: center;
}

.navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.switch-container {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin-right: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dc3545;
    /* Default to Offline (Red) */
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 2.5px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #28a745;
    /* Green for Online */
}

input:checked+.slider:before {
    transform: translateX(24px);
}

.switch-label {
    font-size: 1rem;
    color: #333;
}

.language-dropdown {
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.icon {
    font-size: 1.5rem;
    color: #007bff;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-section {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .navbar-left {
        justify-content: flex-start;
    }

    .navbar-center {
        display: none;
    }

    .navbar-right {
        justify-content: space-between;
    }

    .switch-container,
    .language-dropdown,
    .icon {
        width: 100%;
        margin-bottom: 5px;
    }
}